<launch>

    <arg name="port" default="/dev/ttyUSB0"/>
    <node pkg = "imu_driver" type = "server.py" name = "convert_to_quaternion" output = "screen">
    </node>
    <node pkg = "imu_driver" type = "driver.py" name = "imu" output = "screen">
    <param name="port" value="$(arg port)"/>
    </node>
    
</launch>
